.footer {
  background-color: #11192e;
  padding: 50px 0 20px 0;
}

.kk_main_flex {
  display: flex;
  justify-content: space-between;
}

.kk_not_main_flex {
  display: flex;
}

.kk_flex_down_item_2 a {
  display: inline-block;
}

.kk_flex_down_item_2 {
  display: flex;
}

.kk_flex_down {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}

.kk_flex_down :nth-child(1) {
  margin-right: auto;
}

.kk_flex_down :nth-child(2) {
  margin-right: 120px;
}

.footer h6 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  margin-bottom: 15px;
}

.footer h5 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.footer h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

.footer ul a,
.footer .kk_flex_down a,
.footer p {
  display: inline-block;
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  margin-bottom: 11px;
  transition: opacity 0.2s ease;
}

.footer a:hover {
  opacity: 0.7;
}

.footer_border {
  border-top: 1px solid #222b44;
  margin-top: 10px;
}

.footer p:first-of-type {
  line-height: 22px;
}

.kk_second_not_main_flex p {
  display: block;
}

.kk_second_not_main_flex p:last-of-type {
  margin-bottom: 25px;
}

.kk_second_not_main_flex i:first-of-type {
  margin-right: 15px;
}

.kk_second_not_main_flex i:last-of-type {
  margin-right: 10px;
}

.kk_flex_item_1 h6:last-of-type {
  margin-top: 90px;
}

.kk_flex_item_1 ul {
  margin-bottom: 36px;
}

.kk_flex_down_item_2 a:first-of-type {
  padding-right: 120px;
}

.kk_flex_item_1 img {
  padding-top: 5px;
  margin-right: 18px;
}

.kk_second_not_main_flex p:first-of-type {
  padding-top: 13px;
}

.kk_second_not_main_flex h4 {
  padding-top: 50px;
  margin-bottom: 20px;
}

.kk_flex_item_2 ul li {
  margin-bottom: 5px;
}

.footer .kk_flex_item_1,
.footer .kk_second_not_main_flex {
  margin-right: inherit;
  padding-right: inherit;
}

.footer .kk_main_flex {
  justify-content: flex-start;
}

.footer .kk_main_flex > * + * {
  min-width: 15%;
  margin-left: 30px;
}

.footer .footer-logo {
  -webkit-transform: translate(-50px, -15px);
  transform: translate(-50px, -15px);
}

/* media */

@media only screen and (max-width: 1200px) {
  .empty_flex_item {
    display: none;
  }

  .footer .kk_main_flex {
    justify-content: space-between;
  }

  .kk_flex_down :nth-child(2) {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .mobile_spoiler .mobile_list {
    display: none;
  }

  .mobile_spoiler:hover .mobile_list {
    display: block;
  }

  .kk_main_flex {
    flex-direction: column;
    text-align: center;
    margin: 0;
  }

  .kk_not_main_flex {
    flex-direction: column;
    text-align: center;
    margin: 0;
  }

  .footer .footer-logo {
    -webkit-transform: none;
    transform: none;
  }

  .footer .kk_main_flex > * + * {
    margin-left: 0;
  }

  .kk_flex_item_1 h6:last-of-type {
    margin-top: 14px;
  }

  .kk_flex_item_1 img {
    margin: 0 10px;
  }

  .footer h5 {
    margin-top: 20px;
  }

  .kk_flex_item_2 h6 {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 680px) {
  .kk_flex_down {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .kk_flex_down :nth-child(1) {
    margin-right: initial;
  }
}
