/**block2 and 5*/
.flex_rock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 120px;
}
.tasks_section {
    margin-top: 96px;
}
.tasks_section .container h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
}
.item_1_rock {
    width: 30%;
    border-bottom: 3px solid #CB454D;
}
.item_1_rock div {
    height: 60px;
}
.item_1_rock h4 {
    padding: 29px 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    font-family: Montserrat;
}
.item_1_rock p {
    padding-bottom: 47px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    line-height: 24px;
    font-family: Lato;
}
.item_2_rock {
    width: 30%;
    border-bottom: 3px solid #CB454D;
}
.item_2_rock div {
    height: 60px;
}
.item_2_rock h4 {
    padding: 29px 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    font-family: Montserrat;
}
.item_2_rock p {
    padding-bottom: 47px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    line-height: 24px;
    font-family: Lato;
}
.item_3_rock {
    width: 30%;
    border-bottom: 3px solid #CB454D;
}
.item_3_rock div {
    height: 60px;
}
.item_3_rock h4 {
    padding: 29px 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    font-family: Montserrat;
}
.item_3_rock p {
    padding-bottom: 47px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    line-height: 24px;
    font-family: Lato;
}
.item_4_rock {
    padding-top: 98px;
    width: 30%;
    border-bottom: 3px solid #CB454D;
}
.item_4_rock div {
    height: 60px;
}
.item_4_rock h4 {
    padding: 29px 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    font-family: Montserrat;
}
.item_4_rock p {
    padding-bottom: 47px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    line-height: 24px;
    font-family: Lato;
}
.item_5_rock {
    padding-top: 98px;
    width: 30%;
    border-bottom: 3px solid #CB454D;
}
.item_5_rock div {
    height: 60px;
}
.item_5_rock h4 {
    padding: 29px 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    font-family: Montserrat;
}
.item_5_rock p {
    padding-bottom: 47px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    line-height: 24px;
    font-family: Lato;
}
.item_6_rock {
    padding-top: 98px;
    width: 30%;
    border-bottom: 3px solid #CB454D;
}
.item_6_rock div {
    height: 60px;
}
.item_6_rock h4 {
    padding: 29px 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    font-family: Montserrat;
}
.item_6_rock p {
    padding-bottom: 47px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    line-height: 24px;
    font-family: Lato;
}
.item_7_rock {
    padding-top: 98px;
    width: 30%;
    border-bottom: 3px solid #CB454D;
}
.item_7_rock div {
    height: 60px;
}
.item_7_rock h4 {
    padding: 29px 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    font-family: Montserrat;
}
.item_7_rock p {
    padding-bottom: 47px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    line-height: 24px;
    font-family: Lato;
}
.item_8_rock {
    padding-top: 98px;
    width: 30%;
    border-bottom: 3px solid #CB454D;
}
.item_8_rock div {
    height: 60px;
}
.item_8_rock h4 {
    padding: 29px 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    font-family: Montserrat;
}
.item_8_rock p {
    padding-bottom: 47px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    line-height: 24px;
    font-family: Lato;
}
.item_9_rock {
    padding-top: 98px;
    width: 30%;
    border-bottom: 3px solid #CB454D;
}
.item_9_rock div {
    height: 60px;
}
.item_9_rock h4 {
    padding: 29px 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    font-family: Montserrat;
}
.item_9_rock p {
    padding-bottom: 47px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    line-height: 24px;
    font-family: Lato;
}

/*slaider on main page*//*not and*/
.review {
    margin-top: 78px;
    background-color: #F9F9F9;
    padding: 60px 30px;
    position: relative;
    height: 250px;
}
.review p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
}
.slider_main_block h2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    color: #000000;
}
.owl-carousel .owl-item img {
    width: 156px;
    height: 20px;
    display: inline-block;

}
.foto_review{
    margin-bottom: 30px;
}
.flex_slader_main {
    display: flex;
    justify-content: space-between;
}
.foto_review:after{
    content: "“";
    font-family: Montserrat;
    font-style: italic;
    font-weight: bold;
    font-size: 150px;
    line-height: 46px;
    display: inline-block;
    position: absolute;
    z-index: 100;
    right: 30px;
    top: 15px;
    color: #CB454D;
}
.review p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
}
.owl-carousel .owl-nav .owl-prev,.owl-carousel .owl-nav .owl-next{
    position: absolute;
    z-index: 10;
    width: 79px;
    height: 64px;
    bottom: -97px;
    border: 2px solid #1F1F1F!important;
    transition: 0.3s;
}
.owl-carousel .owl-nav .owl-prev:hover,.owl-carousel .owl-nav .owl-next:hover{
    color: white;
    border: 2px solid #cb454d!important;
    border-radius: 0 10px 10px 0;
    background-color: #cb454d;
}
.owl-carousel .owl-nav .owl-prev:hover{
    border-radius: 10px 0 0 10px;
}
.owl-carousel .owl-nav .owl-next:hover{
    border-radius: 0 10px 10px 0;
}
.owl-carousel .owl-nav .owl-prev {
    left: 0;
}
.owl-carousel .owl-nav .owl-next{
    left: 77px;
}
.owl-carousel .owl-nav .owl-prev:before {
    content: "\f30a";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    font-size: 18px;
}
.owl-carousel .owl-nav .owl-next:before{
    content: "\f30b";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    font-size: 18px;
}
.owl-carousel .owl-nav.disabled {
    display: block;
}
.slider_main_block{
    padding: 127px 0 97px;
}

/* media */



@media only screen and (max-width: 780px) {
    /*owl*/
    .review {
        margin-top: 50px;
        padding: 40px 15px;
        height: 200px;
    }
    .review p {
        font-size: 16px;
        line-height: 20px;
    }
    .slider_main_block h2{
        font-size: 30px;
        line-height: 40px;
    }
    .owl-carousel .owl-nav .owl-prev,.owl-carousel .owl-nav .owl-next{
        width: 40px;
        height: 50px;
        bottom: -70px;
    }
    .owl-carousel .owl-nav .owl-next{
        left: 38px;
    }
    .slider_main_block{
        padding: 70px 0;
    }
    /*owl-end*/
    .flex_rock {
        margin-top: 50px
    }
    .tasks_section .container h2 {
        text-align: center;
        font-size: 26px;
        line-height: 36px;
        border-bottom: 3px solid #CB454D;
    }
    .tasks_section {
        margin-top: 50px;
    }

    .item_1_rock {
        width: 45%;
        border-bottom: 3px solid #CB454D;
    }
    .item_1_rock div {
        height: 60px;
    }
    .item_1_rock h4 {
        padding: 19px 0;
        font-weight: bold;
        font-size: 22px;
        line-height: 20px;
        font-family: Montserrat;
    }
    .item_1_rock p {
        padding-bottom: 37px;
        color: rgba(0, 0, 0, 0.6);
        font-size: 20px;
        line-height: 20px;
        font-family: Lato;
    }


    .item_2_rock {
        width: 45%;
        border-bottom: 3px solid #CB454D;
    }
    .item_2_rock div {
        height: 60px;
    }

    .item_2_rock h4 {
        padding: 19px 0;
        font-weight: bold;
        font-size: 22px;
        line-height: 20px;
        font-family: Montserrat;
    }
    .item_2_rock p {
        padding-bottom: 47px;
        color: rgba(0, 0, 0, 0.6);
        font-size: 20px;
        line-height: 20px;
        font-family: Lato;
    }



    .item_3_rock {
        padding-top: 47px;
        width: 45%;
        border-bottom: 3px solid #CB454D;
    }
    .item_3_rock div {
        height: 60px;
    }
    .item_3_rock h4 {
        padding: 19px 0;
        font-weight: bold;
        font-size: 22px;
        line-height: 20px;
        font-family: Montserrat;
    }
    .item_3_rock p {
        padding-bottom: 47px;
        color: rgba(0, 0, 0, 0.6);
        font-size: 20px;
        line-height: 20px;
        font-family: Lato;
    }



    .item_4_rock {
        padding-top: 47px;
        width: 45%;
        border-bottom: 3px solid #CB454D;
    }
    .item_4_rock div {
        height: 60px;
    }
    .item_4_rock h4 {
        padding: 19px 0;
        font-weight: bold;
        font-size: 22px;
        line-height: 20px;
        font-family: Montserrat;
    }
    .item_4_rock p {
        padding-bottom: 47px;
        color: rgba(0, 0, 0, 0.6);
        font-size: 20px;
        line-height: 20px;
        font-family: Lato;
    }



    .item_5_rock {
        padding-top: 47px;
        width: 45%;
        border-bottom: 3px solid #CB454D;
    }
    .item_5_rock div {
        height: 60px;
    }
    .item_5_rock h4 {
        padding: 19px 0;
        font-weight: bold;
        font-size: 22px;
        line-height: 20px;
        font-family: Montserrat;
    }
    .item_5_rock p {
        padding-bottom: 47px;
        color: rgba(0, 0, 0, 0.6);
        font-size: 20px;
        line-height: 20px;
        font-family: Lato;
    }




    .item_6_rock {
        padding-top: 47px;
        width: 45%;
        border-bottom: 3px solid #CB454D;
    }
    .item_6_rock div {
        height: 60px;
    }
    .item_6_rock h4 {
        padding: 19px 0;
        font-weight: bold;
        font-size: 22px;
        line-height: 20px;
        font-family: Montserrat;
    }
    .item_6_rock p {
        padding-bottom: 47px;
        color: rgba(0, 0, 0, 0.6);
        font-size: 20px;
        line-height: 20px;
        font-family: Lato;
    }



    .item_7_rock {
        padding-top: 47px;
        width: 45%;
        border-bottom: 3px solid #CB454D;
    }
    .item_7_rock div {
        height: 60px;
    }
    .item_7_rock h4 {
        padding: 19px 0;
        font-weight: bold;
        font-size: 22px;
        line-height: 20px;
        font-family: Montserrat;
    }
    .item_7_rock p {
        padding-bottom: 47px;
        color: rgba(0, 0, 0, 0.6);
        font-size: 20px;
        line-height: 20px;
        font-family: Lato;
    }




    .item_8_rock {
        padding-top: 47px;
        width: 45%;
        border-bottom: 3px solid #CB454D;
    }
    .item_8_rock div {
        height: 60px;
    }
    .item_8_rock h4 {
        padding: 19px 0;
        font-weight: bold;
        font-size: 22px;
        line-height: 20px;
        font-family: Montserrat;
    }
    .item_8_rock p {
        padding-bottom: 47px;
        color: rgba(0, 0, 0, 0.6);
        font-size: 20px;
        line-height: 20px;
        font-family: Lato;
    }


    .item_9_rock {
        text-align: center;
        padding-top: 47px;
        width: 100%;
        border-bottom: 3px solid #CB454D;

    }
    .item_9_rock div {
        height: 60px;
    }
    .item_9_rock h4 {
        padding: 19px 0;
        font-weight: bold;
        font-size: 22px;
        line-height: 20px;
        font-family: Montserrat;
    }
    .item_9_rock p {
        padding-bottom: 47px;
        color: rgba(0, 0, 0, 0.6);
        font-size: 20px;
        line-height: 20px;
        font-family: Lato;
    }
    @media only screen and (max-width: 534px) {
        .media_adap {
            display: none;
        }
    }


}
@media only screen and (max-width: 360px) {
    .media_adap {
        display: contents;
    }
    .flex_rock {
        margin-top: 35px
    }
    .tasks_section .container h2 {
        text-align: center;
        font-size: 26px;
        line-height: 36px;
        border-bottom: 3px solid #CB454D;
    }
    .tasks_section {
        margin-top: 50px;
    }
    .item_1_rock {
        width: 100%;
    }
    .item_1_rock h4 {
        padding: 10px 0;
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
        font-family: Montserrat;
    }
    .item_1_rock p {
        padding-bottom: 25px;
        color: rgba(0, 0, 0, 0.6);
        font-size: 20px;
        line-height: 20px;
        font-family: Lato;
    }


    .item_2_rock {
        padding-top: 25px;
        width: 100%;
        border-bottom: 3px solid #CB454D;
    }

    .item_2_rock h4 {
        padding: 10px 0;
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
        font-family: Montserrat;
    }
    .item_2_rock p {
        padding-bottom: 25px;
        color: rgba(0, 0, 0, 0.6);
        font-size: 20px;
        line-height: 20px;
        font-family: Lato;
    }


    .item_3_rock {
        padding-top: 25px;
        width: 100%;
        border-bottom: 3px solid #CB454D;
    }

    .item_3_rock h4 {
        padding: 10px 0;
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
        font-family: Montserrat;
    }
    .item_3_rock p {
        padding-bottom: 25px;
        color: rgba(0, 0, 0, 0.6);
        font-size: 20px;
        line-height: 20px;
        font-family: Lato;
    }


    .item_4_rock {
        padding-top: 25px;
        width: 100%;
        border-bottom: 3px solid #CB454D;
    }

    .item_4_rock h4 {
        padding: 10px 0;
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
        font-family: Montserrat;
    }
    .item_4_rock p {
        padding-bottom: 25px;
        color: rgba(0, 0, 0, 0.6);
        font-size: 20px;
        line-height: 20px;
        font-family: Lato;
    }

    .item_5_rock {
        padding-top: 25px;
        width: 100%;
        border-bottom: 3px solid #CB454D;
    }

    .item_5_rock h4 {
        padding: 10px 0;
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
        font-family: Montserrat;
    }
    .item_5_rock p {
        padding-bottom: 25px;
        color: rgba(0, 0, 0, 0.6);
        font-size: 20px;
        line-height: 20px;
        font-family: Lato;
    }


    .item_6_rock {
        padding-top: 25px;
        width: 100%;
        border-bottom: 3px solid #CB454D;
    }

    .item_6_rock h4 {
        padding: 10px 0;
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
        font-family: Montserrat;
    }
    .item_6_rock p {
        padding-bottom: 25px;
        color: rgba(0, 0, 0, 0.6);
        font-size: 20px;
        line-height: 20px;
        font-family: Lato;
    }



    .item_7_rock {
        padding-top: 25px;
        width: 100%;
        border-bottom: 3px solid #CB454D;
    }

    .item_7_rock h4 {
        padding: 10px 0;
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
        font-family: Montserrat;
    }
    .item_7_rock p {
        padding-bottom: 25px;
        color: rgba(0, 0, 0, 0.6);
        font-size: 20px;
        line-height: 20px;
        font-family: Lato;
    }


    .item_8_rock {
        padding-top: 25px;
        width: 100%;
        border-bottom: 3px solid #CB454D;
    }

    .item_8_rock h4 {
        padding: 10px 0;
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
        font-family: Montserrat;
    }
    .item_8_rock p {
        padding-bottom: 25px;
        color: rgba(0, 0, 0, 0.6);
        font-size: 20px;
        line-height: 20px;
        font-family: Lato;
    }


    .item_9_rock {
        text-align: left;
        padding-top: 25px;
        width: 100%;
        border-bottom: 3px solid #CB454D;
    }
    .item_9_rock h4 {
        padding: 10px 0;
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
        font-family: Montserrat;
    }
    .item_9_rock p {
        padding-bottom: 25px;
        color: rgba(0, 0, 0, 0.6);
        font-size: 20px;
        line-height: 20px;
        font-family: Lato;
    }


}





