/**block2 and 5*/
.flex_rock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 120px;
}
.tasks_section {
    margin-top: 96px;
}
.tasks_section .container h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
}
.item_1_rock {
    width: 30%;
    border-bottom: 3px solid #CB454D;
}
.item_1_rock div {
    height: 60px;
}
.item_1_rock h4 {
    padding: 29px 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    font-family: Montserrat;
}
.item_1_rock p {
    padding-bottom: 47px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    line-height: 24px;
    font-family: Lato;
}
.item_2_rock {
    width: 30%;
    border-bottom: 3px solid #CB454D;
}
.item_2_rock div {
    height: 60px;
}
.item_2_rock h4 {
    padding: 29px 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    font-family: Montserrat;
}
.item_2_rock p {
    padding-bottom: 47px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    line-height: 24px;
    font-family: Lato;
}
.item_3_rock {
    width: 30%;
    border-bottom: 3px solid #CB454D;
}
.item_3_rock div {
    height: 60px;
}
.item_3_rock h4 {
    padding: 29px 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    font-family: Montserrat;
}
.item_3_rock p {
    padding-bottom: 47px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    line-height: 24px;
    font-family: Lato;
}
.item_4_rock {
    padding-top: 98px;
    width: 30%;
    border-bottom: 3px solid #CB454D;
}
.item_4_rock div {
    height: 60px;
}
.item_4_rock h4 {
    padding: 29px 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    font-family: Montserrat;
}
.item_4_rock p {
    padding-bottom: 47px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    line-height: 24px;
    font-family: Lato;
}
.item_5_rock {
    padding-top: 98px;
    width: 30%;
    border-bottom: 3px solid #CB454D;
}
.item_5_rock div {
    height: 60px;
}
.item_5_rock h4 {
    padding: 29px 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    font-family: Montserrat;
}
.item_5_rock p {
    padding-bottom: 47px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    line-height: 24px;
    font-family: Lato;
}
.item_6_rock {
    padding-top: 98px;
    width: 30%;
    border-bottom: 3px solid #CB454D;
}
.item_6_rock div {
    height: 60px;
}
.item_6_rock h4 {
    padding: 29px 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    font-family: Montserrat;
}
.item_6_rock p {
    padding-bottom: 47px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    line-height: 24px;
    font-family: Lato;
}
.item_7_rock {
    padding-top: 98px;
    width: 30%;
    border-bottom: 3px solid #CB454D;
}
.item_7_rock div {
    height: 60px;
}
.item_7_rock h4 {
    padding: 29px 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    font-family: Montserrat;
}
.item_7_rock p {
    padding-bottom: 47px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    line-height: 24px;
    font-family: Lato;
}
.item_8_rock {
    padding-top: 98px;
    width: 30%;
    border-bottom: 3px solid #CB454D;
}
.item_8_rock div {
    height: 60px;
}
.item_8_rock h4 {
    padding: 29px 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    font-family: Montserrat;
}
.item_8_rock p {
    padding-bottom: 47px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    line-height: 24px;
    font-family: Lato;
}
.item_9_rock {
    padding-top: 98px;
    width: 30%;
    border-bottom: 3px solid #CB454D;
}
.item_9_rock div {
    height: 60px;
}
.item_9_rock h4 {
    padding: 29px 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    font-family: Montserrat;
}
.item_9_rock p {
    padding-bottom: 47px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    line-height: 24px;
    font-family: Lato;
}
/*block 3*/




