.button {
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  background: #CB454D;
  border-radius: 2px;
  border: none;
  width: 261px;
  text-decoration: none;
  font-family: Montserrat;
  font-weight: 600;
  display: inline-block;
  transition: 0.6s;
  text-align: center;
  padding: 12px 0 12px 0;
}
.button:hover {
  background-color: #1F1F1F;
}
.block_1 {
  width: 1210px;
  margin-top: 134px;
  margin-bottom: 48px;
  text-align: left;
  height: 408px;
  columns: 2;
  display: inline-flex;
  background-repeat: no-repeat;
}
.block_2 {
  width: 1210px;
  margin-bottom: 135px;
  text-align: left;
  height: 408px;
  columns: 2;
  display: inline-flex;
  background-repeat: no-repeat;
}
.price {
  padding: 65px 0 0 98px;
  text-decoration: none;
  list-style-type: none;
  font-size: 16px;
  font-family: Lato;
  color: rgba(0, 0, 0, 0.6);
}
.delivery {
  padding: 65px 46px 128px 224px;
  text-decoration: none;
  list-style-type: none;
  font-size: 16px;
  font-family: Lato;
  color: #FFFFFF;
}
h3 {
  font-size: 28px;
  padding-top: 25px;
  padding-bottom: 38px;
  font-family: Montserrat;
  margin: 0;
}
.but {
  margin-top: 31px;
  position: absolute;
}
.cargo_r {
  padding: 65px 0 0 98px;
  margin-right: 210px;
  text-decoration: none;
  list-style-type: none;
  font-size: 16px;
  color: #FFFFFF;
  font-family: Lato;
  max-width: 550px;
}
.pay {
  padding: 65px 56px 102px 0;
  text-decoration: none;
  list-style-type: none;
  font-size: 16px;
  color: #FFFFFF;
  font-family: Lato;
  max-width: 550px;
}